body {
    background-color: #f3f3f4;
    font-family: 'Lato', sans-serif;
}

h3 {
    background-color: salmon;
    color: seashell;
    width: 50%;
    text-align: center;
}

P {
    color: rgb(3, 0, 0);
    text-align: justify;
    padding: 12px;
    

}